@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animation cho đánh giá mới */
@keyframes pulse-once {
  0%, 100% {
    background-color: rgba(240, 253, 244, 1); /* bg-green-50 */
  }
  50% {
    background-color: rgba(220, 252, 231, 1); /* bg-green-100 */
  }
}

.animate-pulse-once {
  animation: pulse-once 2s ease-in-out;
}

/* Add custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e2e2;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d1d1d1;
}